:root {
    --gray: #808080;
    --black: #000000;
    --lightGray: #f0efef;
    --darkGray: #555555;
    --primaryFont: 'Open Sans', sans-serif;
    --white: #fff;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 75%;
    height: auto;
    margin: auto;
}

main {
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    display: inline-block;
    width: 100%;
    height: auto;
}

.header__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container .mobile__res {
    display: none;
}

.mobile__res .menu {
    cursor: pointer;
}

.menu .line__1,
.menu .line__2,
.menu .line__3 {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 4px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header__logo img {
    height: 110px;
    object-fit: fill;
}

.header__right .account {
    display:  flex;
    justify-content: flex-end;
}

.header__right .account a {
    font-family: var(--primaryFont);
    font-size: 13px;
    text-decoration: none;
    color: var(--darkGray);
    font-weight: bold;
}

.header__right .account span {
    font-family: var(--primaryFont);
    font-size: 13px;
    margin: 0 7px;
}

.header__right .prod__info {
    display: flex;
    margin: 5px 0 0 0;
}

.prod__info .search__prod {
    width: 250px;
    height: 40px;
    padding: 10px;
    background-color: var(--lightGray);
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prod__info .search__prod img {
    margin: 0px 5px 0px 0px;
}

.search__prod input {
    border: none;
    outline: none;
    background-color: var(--lightGray);
    font-family: var(--primaryFont);
}

.search__prod input::placeholder {
    color: var(--darkGray);
    font-size: 14px;
    font-weight: 600;
}

.cart button {
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: var(--lightGray);
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--darkGray);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--primaryFont);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart button img {
    margin: 0px 5px 0px 0px;
}

.nav {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin: 30px 0px 20px 0px;
}

.nav__item .men__dropDown,
.nav__item .women__dropDown,
.nav__item .onSale__dropDown,
.nav__item .contact__dropDown {
    position: absolute;
    list-style: none;
    background-color: var(--white);
    display: none;
}

.nav__item .men__dropDown li,
.nav__item .women__dropDown li,
.nav__item .onSale__dropDown li,
.nav__item .contact__dropDown li {
    padding: 10px 20px 30px 20px;
}

.nav__item .men__dropDown li a,
.nav__item .women__dropDown li a,
.nav__item .onSale__dropDown li a,
.nav__item .contact__dropDown li a {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    text-transform: capitalize;
    text-decoration: none;
}
/* nav item dropdown active */
.nav__item .dropDown__active {
    display: block;
}

.nav__item .caret__dropDown__active {
    display: block;
    position: relative;
}

.nav__item .caret__dropDown__active li {
    padding: 0px;
    margin: 0px;
}

.nav .search__container {
    display: none;
    visibility: hidden;
}

.nav__links {
    display: flex;
    list-style: none;
}

.nav__links li {
    margin: 0px 30px 0px 0px;
}

.nav__links li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--primaryFont);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
}

.nav__links .createAcc,
.nav__links .signIn {
    display: none;
}

.mens__pat, 
.womens__pat,
.mens__bs__pat,
.head__wear__pat,
.menRs__pat,
.women__running__shorts__pat,
.personal__care__pat,
.on__sale__pat,
.featCollection__pat,
.menRunningTop__pat,
.womensBoardshort2021__pat,
.bestSelling__prod__pat,
.runnerCap__pat,
.onSaleMen__pat,
.onSaleWomen__pat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    margin: 0px;
}

.mens__pat a,
.womens__pat a,
.mens__bs__pat a,
.head__wear__pat a,
.menRs__pat a,
.women__running__shorts__pat a,
.personal__care__pat a,
.on__sale__pat a,
.featCollection__pat a,
.menRunningTop__pat a,
.womensBoardshort2021__pat a,
.bestSelling__prod__pat a,
.runnerCap__pat a,
.onSaleMen__pat a,
.onSaleWomen__pat a {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--primaryFont);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--black);
}

.mens__pat img,
.womens__pat img,
.mens__bs__pat img,
.head__wear__pat img,
.menRs__pat img,
.women__running__shorts__pat img,
.personal__care__pat img,
.on__sale__pat img,
.featCollection__pat img,
.menRunningTop__pat img,
.womensBoardshort2021__pat img,
.bestSelling__prod__pat img,
.runnerCap__pat img,
.onSaleMen__pat img,
.onSaleWomen__pat img {
    margin: 0px 10px;
}

.mens__pat span,
.womens__pat span,
.mens__bs__pat span,
.head__wear__pat span,
.menRs__pat span,
.women__running__shorts__pat span,
.personal__care__pat span,
.on__sale__pat span,
.featCollection__pat span,
.menRunningTop__pat span,
.womensBoardshort2021__pat span,
.bestSelling__prod__pat span,
.runnerCap__pat span,
.onSaleMen__pat span,
.onSaleWomen__pat span {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--primaryFont);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--black);
}
/* Product Container */
.men__shirt__container,
.women__boardshort__container,
.men__boardshort__container,
.head__wear__container,
.menRs__container,
.women__running__shorts__container,
.personal__care__container,
.on__sale__container,
.featCollection__container,
.menRunningTop__container,
.womenBoardshort__2021__container,
.bestSelling__prod__container,
.runnerCap__container,  
.onSaleMen__container,
.onSaleWomen__container {
    display: flex;
    padding: 15px 0px;
    margin: 20px 0px;
}

.men__shirt__container .men__shirt__categ,
.women__boardshort__container .women__boardshort__categ,
.men__boardshort__container .men__boardshort__categ,
.head__wear__container .head__wear__categ,
.menRs__container .menRs__categ,
.women__running__shorts__container .women__running__shorts__categ,
.personal__care__container .personal__care__categ,
.on__sale__container .on__sale__categ,
.featCollection__container .featCollection__categ,
.menRunningTop__container .menRunningTop__categ,
.womenBoardshort__2021__container .womenBoardshort__2021__categ,
.bestSelling__prod__container .bestSelling__prod__categ,
.runnerCap__container .runnerCap__categ,
.onSaleMen__container .onSaleMen__categ,
.onSaleWomen__container .onSaleWomen__categ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.men__shirt__categ .categ__title,
.women__boardshort__categ .categ__title,
.men__boardshort__categ .categ__title,
.head__wear__categ .categ__title,
.menRs__categ .categ__title,
.women__running__shorts__categ .categ__title,
.personal__care__categ .categ__title,
.on__sale__categ .categ__title,
.featCollection__categ .categ__title,
.menRunningTop__categ .categ__title,
.womenBoardshort__2021__categ .categ__title,
.bestSelling__prod__categ .categ__title,
.runnerCap__categ .categ__title,
.onSaleMen__categ .categ__title,
.onSaleWomen__categ .categ__title {
    padding: 15px 0px;
}

.men__shirt__categ .categ__title h3,
.women__boardshort__categ .categ__title h3,
.men__boardshort__categ .categ__title h3,
.head__wear__categ .categ__title h3,
.menRs__categ .categ__title h3,
.women__running__shorts__categ .categ__title h3,
.personal__care__categ .categ__title h3,
.on__sale__categ .categ__title h3,
.featCollection__categ .categ__title h3,
.menRunningTop__categ .categ__title h3,
.womenBoardshort__2021__categ .categ__title h3,
.bestSelling__prod__categ .categ__title h3,
.runnerCap__categ .categ__title h3,
.onSaleMen__categ .categ__title h3,
.onSaleWomen__categ .categ__title h3 {
    font-size: 20px;
    font-family: var(--primaryFont);
    font-weight: 700;
    text-transform: uppercase;
}

.men__shirt__categ .categ__items,
.women__boardshort__categ .categ__items,
.men__boardshort__categ .categ__items,
.head__wear__categ .categ__items,
.menRs__categ .categ__items,
.women__running__shorts__categ .categ__items,
.personal__care__categ .categ__items,
.on__sale__categ .categ__items,
.featCollection__categ .categ__items,
.menRunningTop__categ .categ__items,
.womenBoardshort__2021__categ .categ__items,
.bestSelling__prod__categ .categ__items,
.runnerCap__categ .categ__items,
.onSaleMen__categ .categ__items,
.onSaleWomen__categ .categ__items {
    list-style: none;
}

.categ__items .categ__item {
    padding: 5px 0px;
}

.categ__items .categ__item a {
    font-size: 14px;
    font-family: var(--primaryFont);
    text-transform: capitalize;
    text-decoration: none;
    color: var(--black);
}

.men__shirt__container .mens__shirt__desc,
.women__boardshort__container .womens__boardshort__desc,
.men__boardshort__container .mens__boardshort__desc,
.head__wear__items__container .head__wear__desc,
.menRs__container .menRs__desc,
.women__running__shorts__container .women__running__shorts__desc,
.personal__care__container .personal__care__desc,
.on__sale__container .on__sale__desc,
.featCollection__container .featCollection__desc,
.menRunningTop__container .menRunningTop__desc,
.womenBoardshort__2021__container .womensBoardshort__2021__desc,
.bestSelling__prod__container .bestSelling__prod__desc,
.runnerCap__container .runnerCap__desc,
.onSaleMen__container .onSaleMen__desc,
.onSaleWomen__container .onSaleWomen__desc {
    flex: 2;
}

.mens__shirt__desc .desc__header,
.womens__boardshort__desc .desc__header,
.mens__boardshort__desc .desc__header,
.head__wear__desc .desc__header,
.menRs__desc .desc__header,
.women__running__shorts__desc .desc__header,
.personal__care__desc .desc__header,
.on__sale__desc .desc__header,
.featCollection__desc .desc__header,
.menRunningTop__desc .desc__header,
.womensBoardshort__2021__desc .desc__header,
.bestSelling__prod__desc .desc__header,
.runnerCap__desc .desc__header,
.onSaleMen__desc .desc__header,
.onSaleWomen__desc .desc__header {
    display: flex;
    justify-content: space-between;
}

.desc__header .desc__header__left h2 {
    font-size: 25px;
    font-family: var(--primaryFont);
    font-weight: 700;
    text-transform: uppercase;
}

.desc__header .desc__header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desc__header__right .desc__right {
    display: flex;
}

.desc__header__right .filter {
    display: none;
}

.desc__header__right .filter button {
    padding: 7px 15px;
    font-size: 13px;
    font-family: var(--primaryFont);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--black);
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: var(--white);
    cursor: pointer;
}

.desc__header__right .sort__item {
    display: flex;
    padding: 7px 5px;
    margin: 0px 40px 0px 0px;
}

.desc__header__right .sort__item a {
    font-size: 15px;
    font-family: var(--primaryFont);
    text-decoration: none;
    color: var(--black);
}

.desc__header .feat select {
    border: none;
    font-size: 15px;
    font-family: var(--primaryFont);
    padding: 6px 0px;
    cursor: pointer;
}
/* Product Items Container */
.men__shirt__container .men__items__container,
.women__boardshort__container .women__items__container,
.mens__boardshort__desc .men__bs__items__container,
.head__wear__desc .head__wear__items__container,
.menRs__desc .menRs__items__container,
.women__running__shorts__desc .women__rs__items__container,
.personal__care__desc .personal__care__items__container,
.on__sale__desc .on__sale__items__container,
.featCollection__desc .featCollection__items__container,
.menRunningTop__desc .menRunningTop__items__container,
.womensBoardshort__2021__desc .womenBoardshort2021__items__container,
.bestSelling__prod__desc .bestSelling__prod__items__container,
.runnerCap__desc .runnerCap__items__container,
.onSaleMen__desc .onSaleMen__items__container,
.onSaleWomen__desc .onSaleWomen__items__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 30px 0px;
    width: 100%;
}

.men__bs__items__container .men__bs__items {
    cursor: pointer;
}

.men__items__container .men__items a,
.women__boardshort__container .women__items a,
.men__bs__items__container .men__bs__items a,
.head__wear__items__container .head__wear__items a,
.menRs__items__container .menRs__items a,
.women__rs__items__container .women__rs__items a,
.personal__care__items__container .personal__care__items a,
.on__sale__items__container .on__sale__items a,
.featCollection__items__container .featCollection__items a,
.menRunningTop__items__container .menRunningTop__items a,
.womenBoardshort2021__items__container .womenBoardshort2021__items a,
.bestSelling__prod__items__container .bestSelling__prod__items a,
.runnerCap__items__container .runnerCap__items a,
.onSaleMen__items__container .onSaleMen__items a,
.onSaleWomen__items__container .onSaleWomen__items a {
    color: var(--black);
    text-decoration: none;
}

.men__items .men__item__image,
.women__items .women__item__image,
.men__bs__items .men__bs__item__image,
.head__wear__items .head__wear__item__image,
.menRs__items .menRs__item__image,
.women__rs__items .women__rs__item__image,
.personal__care__items .personal__care__item__image,
.on__sale__items .on__sale__item__image,
.featCollection__items .featCollection__item__image,
.menRunningTop__items .menRunningTop__item__image,
.womenBoardshort2021__items .womenBoardshort2021__item__image,
.bestSelling__prod__items .bestSelling__prod__item__image,
.runnerCap__items .runnerCap__item__image,
.onSaleMen__items .onSaleMen__item__image,
.onSaleWomen__items .onSaleWomen__item__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.men__items .men__item__overlay,
.women__items .women__item__overlay,
.men__bs__items .men__bs__item__overlay,
.head__wear__items .head__wear__item__overlay,
.menRs__items .menRs__item__overlay,
.women__rs__items .women__rs__item__overlay,
.personal__care__items .personal__care__item__overlay,
.on__sale__items .on__sale__item__overlay,
.featCollection__items .featColletion__item__overlay,
.menRunningTop__items .menRunningTop__item__overlay,
.womenBoardshort2021__items .womenBoardshort2021__item__overlay,
.bestSelling__prod__items .bestSelling__prod__item__overlay,
.runnerCap__items .runnerCap__item__overlay,
.onSaleMen__items .onSaleMen__item__overlay,
.onSaleWomen__items .onSaleWomen__item__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    background-color: var(--lightGray);
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.men__items .men__item__image:hover .men__item__overlay,
.women__items .women__item__image:hover .women__item__overlay,
.men__bs__items .men__bs__item__image:hover .men__bs__item__overlay, 
.head__wear__items .head__wear__item__image:hover .head__wear__item__overlay,
.menRs__items .menRs__item__image:hover .menRs__item__overlay,
.women__rs__items .women__rs__item__image:hover .women__rs__item__overlay,
.personal__care__items .personal__care__item__image:hover .personal__care__item__overlay,
.on__sale__items .on__sale__item__image:hover .on__sale__item__overlay,
.featCollection__items .featCollection__item__image:hover .featColletion__item__overlay,
.menRunningTop__items .menRunningTop__item__image:hover .menRunningTop__item__overlay,
.womenBoardshort2021__items .womenBoardshort2021__item__image:hover .womenBoardshort2021__item__overlay,
.bestSelling__prod__items .bestSelling__prod__item__image:hover .bestSelling__prod__item__overlay,
.runnerCap__items .runnerCap__item__image:hover .runnerCap__item__overlay,
.onSaleMen__items .onSaleMen__item__image:hover .onSaleMen__item__overlay,
.onSaleWomen__items .onSaleWomen__item__image:hover .onSaleWomen__item__overlay {
    opacity: 0.1;
}

.men__items .men__item__image img,
.women__items .women__item__image img,
.men__bs__items .men__bs__item__image img,
.head__wear__items .head__wear__item__image img,
.menRs__items .menRs__item__image img,
.women__rs__items .women__rs__item__image img,
.personal__care__items .personal__care__item__image img,
.on__sale__items .on__sale__item__image img,
.featCollection__items .featCollection__item__image img,
.menRunningTop__items .menRunningTop__item__image img,
.womenBoardshort2021__items .womenBoardshort2021__item__image img,
.bestSelling__prod__items .bestSelling__prod__item__image img,
.runnerCap__items .runnerCap__item__image img,
.onSaleMen__items .onSaleMen__item__image img,
.onSaleWomen__items .onSaleWomen__item__image img { 
    height: 250px;
    object-fit: fill;
}

.men__items .men__item__name,
.men__items .men__item__price,
.women__items .women__item__name,
.women__items .women__item__price,
.men__bs__items .men__bs__item__name,
.men__bs__items .men__bs__item__price,
.head__wear__items .head__wear__item__name,
.head__wear__items .head__wear__item__price,
.menRs__items .menRs__item__name,
.menRs__items .menRs__item__price,
.women__rs__items .women__rs__item__name,
.women__rs__items .women__rs__item__price,
.personal__care__items .personal__care__item__name,
.personal__care__items .personal__care__item__price,
.on__sale__items .on__sale__item__name,
.on__sale__items .on__sale__item__price,
.featCollection__items .featCollection__item__name,
.featCollection__items .featCollection__item__price,
.menRunningTop__items .menRunningTop__item__name,
.menRunningTop__items .menRunningTop__item__price,
.womenBoardshort2021__items .womenBoardshort2021__item__name,
.womenBoardshort2021__items .womenBoardshort2021__item__price,
.bestSelling__prod__items .bestSelling__prod__item__name,
.bestSelling__prod__items .bestSelling__prod__item__price,
.runnerCap__items .runnerCap__item__name,
.runnerCap__items .runnerCap__item__price,
.onSaleMen__items .onSaleMen__item__name,
.onSaleMen__items .onSaleMen__item__price,
.onSaleWomen__items .onSaleWomen__item__name,
.onSaleWomen__items .onSaleWomen__item__price {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.men__items .men__item__name h4,
.women__items .women__item__name h4,
.men__bs__items .men__bs__item__name h4,
.head__wear__items .head__wear__item__name h4,
.menRs__items .menRs__item__name h4,
.women__rs__items .women__rs__item__name h4,
.personal__care__items .personal__care__item__name h4,
.on__sale__items .on__sale__item__name h4,
.featCollection__items .featCollection__item__name h4,
.menRunningTop__items .menRunningTop__item__name h4,
.womenBoardshort2021__items .womenBoardshort2021__item__name h4,
.bestSelling__prod__items .bestSelling__prod__item__name h4,
.runnerCap__items .runnerCap__item__name h4,
.onSaleMen__items .onSaleMen__item__name h4,
.onSaleWomen__items .onSaleWomen__item__name h4 {
    font-size: 15px;
    font-family: var(--primaryFont);
    font-weight: 500;
    text-transform: capitalize;
}

.men__items .men__item__price h3,
.women__items .women__item__price h3,
.men__bs__items .men__bs__item__price h3,
.head__wear__items .head__wear__item__price h3,
.menRs__items .menRs__item__price h3,
.women__rs__items .women__rs__item__price h3,
.personal__care__items .personal__care__item__price h3,
.on__sale__items .on__sale__item__price h3,
.featCollection__items, .featCollection__item__price h3,
.menRunningTop__items .menRunningTop__item__price h3,
.womenBoardshort2021__items .womenBoardshort2021__item__price h3,
.bestSelling__prod__items .bestSelling__prod__item__price h3,
.runnerCap__items .runnerCap__item__price h3,
.onSaleMen__items .onSaleMen__item__price h3,
.onSaleWomen__items .onSaleWomen__item__price h3 {
    font-size: 16px;
    font-family: var(--primaryFont);
    font-weight: 700;
}

.men__items .men__save__item,
.women__items .women__save__item,
.men__bs__items .men__bs__save__item,
.head__wear__items .head__wear__save__item,
.menRs__items .menRs__save__item,
.women__rs__items .women__rs__save__item,
.personal__care__items .personal__care__save__item,
.on__sale__items .on__sale__save__item,
.featCollection__items .featCollection__save__item,
.menRunningTop__items .menRunningTop__save__item,
.bestSelling__prod__items .bestSelling__prod__save__item,
.onSaleMen__items .onSaleMen__save__item,
.onSaleWomen__items .onSaleWomen__save__item {
    display: inline-block;
    margin: 15px 0px 0px 0px;
}

.men__items .men__save__item h4,
.women__items .women__save__item h4,
.men__bs__items .men__bs__save__item h4,
.head__wear__items .head__wear__save__item h4,
.menRs__items .menRs__save__item h4,
.women__rs__items .women__rs__save__item h4,
.personal__care__items .personal__care__save__item h4,
.on__sale__items .on__sale__save__item h4,
.featCollection__items .featCollection__save__item h4,
.menRunningTop__items .menRunningTop__save__item h4,
.bestSelling__prod__items .bestSelling__prod__save__item h4,
.onSaleMen__items .onSaleMen__save__item h4,
.onSaleWomen__items .onSaleWomen__save__item h4 {
    padding: 5px;
    font-size: 14px;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.footer .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__container .footer__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px 0px 15px 0px;
}

.footer__container .footer__head h3 {
    font-size: 20px;
    font-family: var(--primaryFont);
    color: var(--darkGray);
    text-transform: uppercase;
}

.footer__container .footer__email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.footer__container .footer__email h4 {
    font-size: 15px;
    font-family: var(--primaryFont);
    font-weight: 600;
    color: var(--darkGray);
}

.footer__container .footer__icons {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 0px 0px;
    padding: 15px 0px;
    border-top: 1px solid var(--lightGray);
    border-bottom: 1px solid var(--lightGray);
}

.footer__container .footer__icons i {
    margin: 0px 5px;
    font-size: 23px;
    color: var(--darkGray);
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.footer__copyright .footer__copyright__left {
    display: flex;
}

.footer__copyright .footer__copyright__left h3 {
    font-size: 13px;
    font-family: var(--primaryFont);
    font-weight: 500;
    color: var(--darkGray);
    margin: 0px 40px 0px 0px;
}

.footer__copyright .footer__copyright__center h3 {
    font-size: 13px;
    font-family: var(--primaryFont);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--darkGray);
    margin: 0px 40px 0px 0px;
}

.footer__copyright .footer__copyright__right h3 {
    font-size: 18px;
    font-family: var(--primaryFont);
    color: var(--darkGray);
}

.btnScroll {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.btnScroll button {
    padding: 20px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--black);
    outline: none;
    box-shadow: 5px 5px 5px var(--darkGray);
    border: 1px solid var(--black);
    cursor: pointer;
    font-size: 15px;
    font-family: var(--primaryFont);
    color: var(--white);
    font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    section {
        width: 85%;
        height: 100%;
    }
    main {
        min-height: 100vh;
    }
    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__container .mobile__res {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .mobile__res .menu {
        display: inline-block;
        width: 28px;
    }
    .mobile__res .cart__mob__dev {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile__res .cart__mob__dev a {
        display: flex;
        text-decoration: none;
    }
    .mobile__res .cart__mob__dev a img{
        margin: 0px 5px 0px 0px;
    }
    .mobile__res .cart__mob__dev a span {
        color: var(--black);
        font-size: 20px;
        font-family: var(--primaryFont);
        text-transform: capitalize;    
    }
    .header__right .account {
        display: none;
    }
    .prod__info .search__prod,
    .prod__info .cart{
        display: none; 
    }
    main {
        margin: 50px 0px 0px 0px;
    }
    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 999999;
        margin: 0;
        background-color: white;
    }
    .nav .search__container {
        display: block;
        visibility: visible;
    }
    .search__container .search__prod {
        width: 250px;
        padding: 7px 15px;
        margin: 0px 0px 0px 15px; 
        background-color: var(--lightGray);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .search__container .search__prod img {
        margin: 0px 5px 0px 0px;
    }
    .nav__active {
        left: 0;
        top: 55px;
        transition: 0.7s all ease;
    }
    .nav__item__active {
        display: block;
    }
    .nav__links .active {
        display: block;
    }
    .mobile__res__active {
        position: absolute;
        top: 0;
        background-color: var(--lightGray);
        padding: 15px 20px;
        transition: 0.7s all ease;
    }
    .nav .nav__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav .nav__links li {
        margin: 30px 0px;
    }
    /* Men's shirt and Women Boardshort items */
    .mens__pat,
    .womens__pat,
    .mens__bs__pat,
    .head__wear__pat,
    .menRs__pat,
    .women__running__shorts__pat,
    .on__sale__pat,
    .personal__care__pat,
    .featCollection__pat,
    .menRunningTop__pat,
    .womensBoardshort2021__pat,
    .bestSelling__prod__pat,
    .runnerCap__pat,
    .onSaleMen__pat,
    .onSaleWomen__pat {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .men__shirt__container,
    .women__boardshort__container,
    .men__boardshort__container,
    .head__wear__container,
    .menRs__container,
    .women__running__shorts__container,
    .on__sale__container,
    .personal__care__container,
    .featCollection__container,
    .menRunningTop__container,
    .womenBoardshort__2021__container,
    .bestSelling__prod__container,
    .runnerCap__container,
    .onSaleMen__container,
    .onSaleWomen__container {
        display: flex;
        flex-direction: column;
    }
    .men__shirt__container .men__shirt__categ,
    .women__boardshort__container .women__boardshort__categ,
    .men__boardshort__container .men__boardshort__categ,
    .head__wear__container .head__wear__categ,
    .menRs__container .menRs__categ,
    .women__running__shorts__container .women__running__shorts__categ,
    .on__sale__container .on__sale__categ,
    .personal__care__container .personal__care__categ,
    .featCollection__container .featCollection__categ,
    .menRunningTop__container .menRunningTop__categ,
    .womenBoardshort__2021__container .womenBoardshort__2021__categ,
    .bestSelling__prod__container .bestSelling__prod__categ,
    .runnerCap__container .runnerCap__categ,
    .onSaleMen__container .onSaleMen__categ,
    .onSaleWomen__container .onSaleWomen__categ {
        display: none;
    }

    .men__boardshort__container .men__bs__categ__active,
    .women__boardshort__container .women__bs__categ__active,
    .men__shirt__container .men__shirt__categ__active,
    .head__wear__container .head__wear__categ__active,
    .menRs__container .menRs__categ__active,
    .women__running__shorts__container .women__running__shorts__categ__active,
    .on__sale__container .on__sale__categ__active,
    .personal__care__container .personal__care__active,
    .featCollection__container .featCollection__active,
    .menRunningTop__container .menRunningTop__active,
    .womenBoardshort__2021__container .womenBoardshort2021__categ__active,
    .bestSelling__prod__container .bestSelling__categ__active,
    .onSaleMen__container .onSaleMen__categ__active,
    .onSaleWomen__container .onSaleWomen__categ__active {
        position: relative;
        display: block;
    }

    .men__shirt__container .desc__header,
    .women__boardshort__container .desc__header,
    .men__boardshort__container .desc__header,
    .head__wear__container .desc__header,
    .menRs__container .desc__header,
    .women__running__shorts__container .desc__header,
    .on__sale__container .desc__header,
    .personal__care__container .desc__header,
    .featCollection__container .desc__header,
    .menRunningTop__container .desc__header,
    .womenBoardshort__2021__container .desc__header,
    .bestSelling__prod__container .desc__header,
    .runnerCap__container .desc__header,
    .onSaleMen__container .desc__header,
    .onSaleWomen__container .desc__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .desc__header .desc__header__left {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        margin: 20px 0px 0px 0px;
    }
    .desc__header .desc__header__left h2 {
        font-size: 20px;
    }
    .desc__header .desc__header__right {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
    }
    .desc__header__right .sort__item {
        margin: 0px 15px 0px 0px;
    }
    .desc__header__right .sort__item a {
        font-size: 14px;
    }
    .desc__header .feat select {
        font-size: 14px;
    }
    .desc__header__right .filter {
        display: block;
    }
    .desc__header__right .filter button {
        padding: 4px 8px;
    }
    .men__shirt__container .men__items__container,
    .women__boardshort__container .women__items__container,
    .men__boardshort__container .men__bs__items__container,
    .head__wear__container .head__wear__items__container,
    .menRs__container .menRs__items__container,
    .women__running__shorts__container .women__rs__items__container,
    .on__sale__container .on__sale__items__container,
    .personal__care__container .personal__care__items__container,
    .featCollection__container .featCollection__items__container,
    .menRunningTop__container .menRunningTop__items__container,
    .womenBoardshort__2021__container .womenBoardshort2021__items__container,
    .bestSelling__prod__container .bestSelling__prod__items__container,
    .runnerCap__container .runnerCap__items__container,
    .onSaleMen__container .onSaleMen__items__container,
    .onSaleWomen__container .onSaleWomen__items__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 0px;
        padding: 0px;
    }
    .men__items .men__item__image,
    .women__items .women__item__image,
    .men__bs__items .men__bs__item__image,
    .head__wear__items .head__wear__item__image,
    .menRs__items .menRs__item__image,
    .women__rs__items .women__rs__item__image,
    .on__sale__items .on__sale__item__image,
    .personal__care__items .personal__care__item__image,
    .featCollection__items .featCollection__item__image,
    .menRunningTop__items .menRunningTop__item__image,
    .womenBoardshort2021__items .womenBoardshort2021__item__image,
    .bestSelling__prod__items .bestSelling__prod__item__image,
    .runnerCap__items .runnerCap__item__image,
    .onSaleMen__items .onSaleMen__item__image,
    .onSaleWomen__items .onSaleWomen__item__image {
        width: 100%;
        height: auto;
    }
    .men__items .men__item__image img,
    .women__items .women__item__image img,
    .men__bs__items .men__bs__item__image img,
    .head__wear__items .head__wear__item__image img,
    .menRs__items .menRs__item__image img,
    .women__rs__items .women__rs__item__image img,
    .on__sale__items .on__sale__item__image img,
    .personal__care__items .personal__care__item__image img,
    .featCollection__items .featCollection__item__image img,
    .menRunningTop__items .menRunningTop__item__image img,
    .womenBoardshort2021__items .womenBoardshort2021__item__image img,
    .womenBoardshort2021__items .womenBoardshort2021__item__image img,
    .bestSelling__prod__items .bestSelling__prod__item__image img,
    .runnerCap__items .runnerCap__item__image img,
    .onSaleMen__items .onSaleMen__item__image img,
    .onSaleWomen__items .onSaleWomen__item__image img {
       width: 100%;
       height: auto;
    }
    .men__items .men__item__overlay,
    .women__items .women__item__overlay,
    .men__bs__items .men__bs__item__overlay,
    .head__wear__items .head__wear__item__overlay,
    .menRs__items .menRs__item__overlay,
    .women__rs__items .women__rs__item__overlay,
    .on__sale__items .on__sale__item__overlay,
    .persona__care__items .personal__care__item__overlay,
    .featCollection__items .featCollection__item__overlay,
    .menRunningTop__items .menRunningTop__item__overlay,
    .bestSelling__prod__items .bestSelling__prod__item__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .3s ease;
        background-color: var(--lightGray);
        opacity: 0;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    .men__items .men__item__image:hover .men__item__overlay,
    .women__items .women__item__image:hover .women__item__overlay,
    .men__bs__items .men__bs__item__image:hover .men__bs__item__overlay,
    .head__wear__items .head__wear__item__image:hover .head__wear__item__overlay,
    .menRs__items .men__rs__item__image:hover .menRs__item__overlay,
    .women__rs__items .women__rs__item__image:hover .women__rs__item__overlay,
    .on__sale__items .on__sale__item__image:hover .on__sale__item__overlay,
    .personal__care__items .personal__care__item__image:hover .personal__care__item__overlay,
    .featCollection__items .featCollection__item__image:hover .featCollection__item__overlay, 
    .menRunningTop__items .menRunningTop__item__image:hover .menRunningTop__item__overlay,
    .bestSelling__prod__items .bestSelling__prod__item__image:hover .bestSelling__prod__item__overlay {
        opacity: 0.1;
    }
    .men__items .men__item__name {
        width: 80%;
        height: auto;
    }
    .men__items .men__item__name h4,
    .women__items .women__item__name h4,
    .men__bs__items .men__bs__item__name h4,
    .head__wear__items .head__wear__item__name h4,
    .menRs__items .menRs__item__name h4,
    .women__rs__items .women__rs__item__name h4,
    .on__sale__items .on__sale__item__name h4,
    .personal__care__items .personal__care__item__name h4,
    .featCollection__items .featCollection__item__name h4,
    .menRunningTop__items .menRunningTop__item__name h4,
    .womenBoardshort2021__items .womenBoardshort2021__item__name h4,
    .bestSelling__prod__items .bestSelling__prod__item__name h4,
    .runnerCap__items .runnerCap__item__name h4,
    .onSaleMen__items .onSaleMen__item__name h4,
    .onSaleWomen__items .onSaleWomen__item__name h4 {
        font-size: 13px;
        font-family: var(--primaryFont);
        font-weight: 500;
        text-transform: capitalize;
    }
    .men__items .men__item__price h3,
    .women__items .women__item__price h3,
    .men__bs__items .men__bs__item__price h3,
    .head__wear__items .head__wear__item__price h3,
    .menRs__items .menRs__item__price h3,
    .women__rs__items .women__rs__item__price h3,
    .on__sale__items .on__sale__item__price h3,
    .personal__care__items .personal__care__item__price h3,
    .featCollection__items .featCollection__item__price h3,
    .menRunningTop__items .menRunningTop__item__price h3,
    .womenBoardshort2021__items .womenBoardshort2021__item__price h3,
    .bestSelling__prod__items .bestSelling__prod__item__price h3,
    .runnerCap__items .runnerCap__item__price h3,
    .onSaleMen__items .onSaleMen__item__price h3,
    .onSaleWomen__items .onSaleWomen__item__price h3 {
        font-size: 16px;
        font-family: var(--primaryFont);
        font-weight: 700;
    }
    .men__items .men__save__item,
    .women__items .women__save__item,
    .men__bs__items .men__bs__save__item,
    .head__wear__items .head__wear__save__item,
    .menRs__items .menRs__item__save__item,
    .women__rs__items .women__rs__item__save__item,
    .on__sale__items .on__sale__save__item,
    .personal__care__items .personal__care__save__item,
    .featCollection__items .featCollection__save__item,
    .menRunningTop__items .menRunningTop__save__item,
    .bestSelling__prod__items .bestSelling__prod__save__item,
    .onSaleMen__items .onSaleMen__save__item,
    .onSaleWomen__items .onSaleWomen__save__item {
        margin: 15px 0px;
    }
    .men__items .men__save__item h4,
    .women__items .women__save__item h4,
    .men__bs__items .men__bs__save__item h4,
    .head__wear__items .head__wear__save__item h4,
    .menRs__items .menRs__save__item h4,
    .women__rs__items .women__rs__save__item h4,
    .on__sale__items .on__sale__save__item h4,
    .personal__care__items .personal__care__save__item h4,
    .featCollection__items .featCollection__save__item h4,
    .menRunningTop__items .menRunningTop__save__item h4,
    .bestSelling__prod__items .bestSelling__prod__save__item h4,
    .onSaleMen__items .onSaleMen__save__item h4,
    .onSaleWomen__items .onSaleWomen__save__item h4 {
        padding: 3px;
        font-size: 12px;
        font-family: var(--primaryFont);
        text-transform: uppercase;
        color: var(--black);
        border: 2px solid var(--black);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .footer__copyright {
        flex-direction: column;
    }
    .footer__copyright .footer__copyright__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__copyright .footer__copyright__left h3 {
        margin: 0;
    }
    .footer__copyright .footer__copyright__center {
        margin: 25px 0px;
    }
    .btnScroll {
        display: none;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    section {
        width: 90%;
        height: 100%;
    }
    main {
        min-height: 100vh;
    }
    .header__container {
        flex-direction: column;
        justify-content: center;
    }
    .header__container .mobile__res {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .mobile__res .menu {
        display: inline-block;
        width: 28px;
    }
    .menu .line__1,
    .menu .line__2,
    .menu .line__3 {
        width: 32px;
        height: 4px;
    }
    .mobile__res .cart__mob__dev {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile__res .cart__mob__dev a {
        display: flex;
        text-decoration: none;
    }
    .mobile__res .cart__mob__dev a img{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 0px;
    }
    .mobile__res .cart__mob__dev a span {
        color: var(--black);
        font-size: 20px;
        font-family: var(--primaryFont);
        text-transform: capitalize;    
    }
    .header__right .account {
        display: none;
    }
    .prod__info .search__prod,
    .prod__info .cart{
        display: none; 
    }
    main {
        margin: 50px 0px 0px 0px;
        min-height: 100vh;
    }
    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 999999;
        margin: 0;
        background-color: white;
    }
    .nav .search__container {
        display: block;
        visibility: visible;
        margin: 0px 0px 0px 15px;
    }
    .search__container .search__prod {
        width: 250px;
        height: 40px;
        padding: 10px;
        background-color: var(--lightGray);
        margin: 10px 10px 0 0;
    }
    .nav__active {
        left: 0;
        top: 55px;
        transition: 0.7s all ease;
    }
    .nav__item__active {
        display: block;
    }
    .mobile__res__active {
        position: absolute;
        top: 0;
        background-color: var(--lightGray);
        padding: 15px 20px;
        transition: 0.7s all ease;
    }
    .nav .nav__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav .nav__links li {
        margin: 30px 0px;
    }
    /* Men's shirt and Women Boardshort items */
    .mens__pat,
    .womens__pat,
    .men__bs__pat,
    .head__wear__pat,
    .menRs__pat,
    .women__running__shorts__pat,
    .on___sale__pat,
    .persona__care__pat,
    .featCollection__pat,
    .menRunningTop__pat,
    .womensBoardshort2021__pat,
    .bestSelling__prod__pat,
    .runnerCap__pat,
    .onSaleMen__pat,
    .onSaleWomen__pat {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .men__shirt__container,
    .women__boardshort__container,
    .men__boardshort__container,
    .head__wear__container,
    .menRs__container,
    .women__running__shorts__container,
    .on__sale__container,
    .personal__care__container,
    .featCollection__container,
    .menRunningTop__container,
    .womenBoardshort__2021__container,
    .bestSelling__prod__container,
    .runnerCap__container,
    .onSaleMen__container,
    .onSaleWomen__container {
        display: flex;
        flex-direction: column;
    }
    .men__shirt__container .men__shirt__categ,
    .women__boardshort__container .women__boardshort__categ,
    .men__boardshort__container .men__boardshort__categ,
    .head__wear__container .head__wear__categ,
    .menRs__container .menRs__categ,
    .women__running__shorts__container .women__running__shorts__categ,
    .on__sale__container .on__sale__categ,
    .personal__care__container .personal__care__categ,
    .featCollection__container .featCollection__categ,
    .menRunningTop__container .menRunningTop__categ,
    .womenBoardshort__2021__container .womenBoardshort__2021__categ,
    .bestSelling__prod__container .bestSelling__prod__categ,
    .runnerCap__container .runnerCap__categ,
    .onSaleMen__container .onSaleMen__categ,
    .onSaleWomen__container .onSaleWomen__categ {
        display: none;
    }
    .men__boardshort__container .men__bs__categ__active,
    .women__boardshort__container .women__bs__categ__active,
    .men__shirt__container .men__shirt__categ__active,
    .head__wear__container .head__wear__categ__active,
    .menRs__container .menRs__categ__active,
    .women__running__shorts__container .women__running__shorts__categ__active,
    .on__sale__container .on__sale__categ__active,
    .personal__care__container .personal__care__active,
    .featCollection__container .featCollection__active,
    .menRunningTop__container .menRunningTop__active,
    .womenBoardshort__2021__container .womenBoardshort2021__categ__active,
    .bestSelling__prod__container .bestSelling__prod__categ__active,
    .onSaleMen__container .onSaleMen__categ__active,
    .onSaleWomen__container .onSaleWomen__categ__active {
        position: relative;
        display: block;
    }
    .men__shirt__container .desc__header,
    .women__boardshort__container .desc__header,
    .men__boardshort__container .desc__header,
    .head__wear__container .desc__header,
    .menRs__container .desc__header,
    .on__sale__container .desc__header,
    .personal__care__container .desc__header,
    .featCollection__container .desc__header,
    .menRunningTop__container .desc__header,
    .womenBoardshort__2021__container .desc__header,
    .bestSelling__prod__container .desc__header,
    .runnerCap__container .desc__header,
    .onSaleMen__container .desc__header,
    .onSaleWomen__container .desc__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .women__running__shorts__container .desc__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .desc__header .desc__header__left {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        margin: 20px 0px 0px 0px;
    }
    .desc__header .desc__header__right {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
    }
    .desc__header__right .sort__item {
        margin: 0px 15px 0px 0px;
    }
    .desc__header__right .filter {
        display: block;
    }
    .men__shirt__container .men__items__container,
    .women__boardshort__container .women__items__container,
    .men__boardshort__container .men__bs__items__container,
    .head__wear__container .head__wear__items__container,
    .menRs__container .menRs__items__container,
    .women__running__shorts__container .women__rs__items__container,
    .on__sale__container .on__sale__items__container,
    .personal__care__container .personal__care__items__container,
    .featCollection__container .featCollection__items__container,
    .menRunningTop__container .menRunningTop__items__container,
    .womenBoardshort__2021__container .womenBoardshort2021__items__container,
    .bestSelling__prod__container .bestSelling__prod__items__container,
    .runnerCap__container .runnerCap__items__container,
    .onSaleMen__container .onSaleMen__items__container,
    .onSaleWomen__container .onSaleWomen__items__container {
        grid-gap: 30px;
    }
    .men__items .men__item__image,
    .women__items .women__item__image,
    .men__bs__items .men__bs__item__image,
    .head__wear__items .head__wear__item__image,
    .menRs__items .menRs__item__image,
    .women__rs__items .women__rs__item__image,
    .on__sale__items .on__sale__item__image,
    .personal__care__items .personal__care__item__image,
    .featCollection__items .featCollection__item__image,
    .menRunninTop__items .menRunningTop__item__image,
    .womenBoardshort2021__items .womenBoardshort2021__item__image,
    .bestSelling__prod__items .bestSelling__item__image,
    .runnerCap__items .runnerCap__item__image,
    .onSaleMen__items .onSaleMen__item__image,
    .onSaleWomen__items .onSaleWomen__item__image {
        width: 100%;
        height: auto;
    }
    .men__items .men__item__image img,
    .women__items .women__item__image img,
    .men__bs__items .men__bs__item__image img,
    .head__wear__items .head__wear__item__image img,
    .menRs__items .menRs__item__image img,
    .women__rs__items .women__rs__item__image img,
    .on__sale__items .on__sale__item__image img,
    .personal__care__items .personal__care__item__image img,
    .featCollection__items .featCollection__item__image img,
    .menRunningTop__items .menRunningTop__item__image img,
    .womenBoardshort2021__items .womenBoardshort2021__item__image img,
    .bestSelling__prod__items .bestSelling__prod__item__image img,
    .runnerCap__items .runnerCap__item__image img,
    .onSaleMen__items .onSaleMen__item__image img,
    .onSaleWomen__items .onSaleWomen__item__image img {
       width: 100%;
       height: auto;
    }
    .men__items .men__item__overlay,
    .women__items .women__item__overlay,
    .men__bs__items .men__bs__item__overlay,
    .head__wear__items .head__wear__item__overlay,
    .menRs__items .menRs__item__overlay,
    .women__rs__items .women__rs__item__overlay,
    .on__sale__items .on__sale__item__overlay,
    .personal__care__items .personal__care__item__overlay,
    .featCollection__items .featCollection__item__overlay,
    .menRunningTop__items .menRunningTop__item__overlay,
    .bestSelling__prod__items .bestSelling__prod__item__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .3s ease;
        background-color: var(--lightGray);
        opacity: 0;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    .men__items .men__item__image:hover .men__item__overlay,
    .women__items .women__item__image:hover .women__item__overlay,
    .men__bs__items .men__bs__item__image:hover .men__bs__item__overlay,
    .head__wear__items .head__wear__item__image:hover .head__wear__item__overlay,
    .menRs__items .menRs__item__image:hover .menRs__item__overlay,
    .women__rs__items .women__rs__item__image:hover .women__rs_item__overlay,
    .on__sale__items .on__sale__item__image:hover .on__sale__item__overlay,
    .personal__care__items .personal__care__item__image .personal__care__item__overlay,
    .featCollection__items .featCollection__item__image:hover .featCollection__item__overlay,
    .menRunningTop__items .menRunningTop__item__image:hover .menRunningTop__item__overlay,
    .bestSelling__prod__items .bestSelling__prod__item__image:hover .bestSelling__prod__item__overlay {
        opacity: 0.1;
    }
    .men__items .men__item__name {
        width: 80%;
        height: auto;
    }
    .men__items .men__item__name h4,
    .women__items .women__item__name h4,
    .men__bs__items .men__bs__item__name h4,
    .head__wear__items .head__wear__item__name h4,
    .menRs__items .menRs__item__name h4,
    .women__rs__items .women__rs__item__name h4,
    .on__sale__items .on__sale__item__name h4,
    .personal__care__items .personal__care__item__name h4,
    .featCollection__items .featCollection__item__name h4,
    .menRunningTop__items .menRunningTop__item__name h4,
    .womenBoardshort2021__items .womenBoardshort2021__item__name h4,
    .bestSelling__prod__items .bestSelling__prod__item__name h4,
    .runnerCap__items .runnerCap__item__name h4,
    .onSaleMen__items .onSaleMen__item__name h4,
    .onSaleWomen__items .onSaleWomen__item__name h4 {
        font-size: 15px;
        font-family: var(--primaryFont);
        font-weight: 500;
        text-transform: capitalize;
    }
    .men__items .men__item__price h3,
    .women__items .women__item__price h3,
    .men__bs__items .men__bs__item__price h3,
    .head__wear__items .head__wear__item__price h3,
    .menRs__items .menRs__item__price h3,
    .women__rs__items .women__rs__item__price h3,
    .on__sale__items .on__sale__item__price h3,
    .personal__care__items .personal__care__item__price h3,
    .featCollection__items .featCollection__item__price h3,
    .menRunningTop__items .menRunningTop__item__price h3,
    .womenBoardshort2021__items .womenBoardshort2021__item__price h3,
    .bestSelling__prod__items .bestSelling__prod__item__price h3,
    .runnerCap__items .runnerCap__item__price h3,
    .onSaleMen__items .onSaleMen__item__price h3,
    .onSaleWomen__items .onSaleWomen__item__price h3 {
        font-size: 18px;
        font-family: var(--primaryFont);
        font-weight: 700;
    }
    .men__items .men__save__item,
    .women__items .women__save__item,
    .men__bs__items .men__bs__save__item,
    .head__wear__items .head__wear__save__item,
    .menRs__items .menRs__save__item,
    .women__rs__items .women__rs__save__item,
    .on__sale__items .on__sale__save__item,
    .personal__care__items .persona__care__save__item,
    .featCollection__items .featCollection__save__item,
    .menRunningTop__items .menRunningTop__save__item,
    .bestSelling__prod__items .bestSelling__prod__save__item,
    .onSaleMen__items .onSaleMen__save__item,
    .onSaleWomen__items .onSaleWomen__save__item {
        display: inline-block;
        margin: 15px 0px 0px 0px;
    }
    .men__items .men__save__item h4,
    .women__items .women__save__item h4,
    .men__bs__items .men__bs__save__item h4,
    .head__wear__items .head__wear__save__item h4,
    .menRs__items .menRs__save__item h4,
    .women__rs__items .women__rs__save__item h4,
    .on__sale__items .on__sale__save__item h4,
    .persona__care__items .personal__care__save__item h4,
    .featCollection__items .featCollection__save__item h4,
    .menRunningTop__items .menRunningTop__save__item h4,
    .bestSelling__prod__items .bestSelling__prod__save__item h4,
    .onSaleMen__items .onSaleMen__save__item h4,
    .onSaleWomen__items .onSaleWomen__save__item h4 {
        padding: 5px;
        font-size: 14px;
        font-family: var(--primaryFont);
        text-transform: uppercase;
        color: var(--black);
        border: 2px solid var(--black);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .footer__copyright {
        flex-direction: column;
    }
    .footer__copyright .footer__copyright__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__copyright .footer__copyright__left h3 {
        margin: 0;
    }
    .footer__copyright .footer__copyright__center {
        margin: 25px 0px;
    }
    .btnScroll {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    section {
        width: 90%;
        height: auto;
    }
    main {
        min-height: 100vh;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    
    .header {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 30px 0px 0px 0px;
    }
    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__right .account {
        display: flex;
    }
    .prod__info .search__prod,
    .prod__info .cart{
        display: flex;
    }
    .header__container .mobile__res {
        display: none;
    }
    .nav {
        position: relative;
        top: 0;
        left: 0;
    } 
    .nav .search__container {
        display: none;
    }
    .nav .nav__links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .nav .nav__links li {
        margin: 0px 30px 0px 0px;
    }
    .men__shirt__container,
    .women__boardshort__container, 
    .men__boardshort__container,
    .head__wear__container,
    .menRs__container,
    .women__running__shorts__container,
    .on__sale__container,
    .personal__care__container,
    .featCollection__container,
    .menRunningTop__container,
    .womenBoardshort__2021__container,
    .bestSelling__prod__container,
    .runnerCap__container,
    .onSaleMen__container,
    .onSaleWomen__container {
        display: flex;
        flex-direction: row;
    }
    .men__shirt__container .men__shirt__categ,
    .women__boardshort__container .women__boardshort__categ,
    .men__boardshort__container .men__boardshort__categ,
    .head__wear__container .head__wear__categ,
    .menRs__container .menRs__categ,
    .women__running__shorts__container .women__running__shorts__categ,
    .on__sale__container .on__sale__categ,
    .personal__care__container .personal__care__categ,
    .featCollection__container .featCollection__categ,
    .menRunningTop__container .menRunningTop__categ,
    .womenBoardshort__2021__container .womenBoardshort__2021__categ,
    .bestSelling__prod__container .bestSelling__prod__categ,
    .runnerCap__container .runnerCap__categ,
    .onSaleMen__container .onSaleMen__categ,
    .onSaleWomen__container .onSaleWomen__categ {
        display: block;
    } 
    .men__shirt__container .desc__header,
    .women__boardshort__container .desc__header,
    .men__boardshort__container .desc__header,
    .head__wear__container .desc__header,
    .menRs__container .desc__header,
    .women__running__shorts__container .desc__header,
    .on__sale__container .desc__header,
    .personal__care__container .desc__header,
    .featCollection__container .desc__header,
    .menRunningTop__container .desc__header,
    .womenBoardshort__2021__container .desc__header,
    .bestSelling__prod__container .desc__header,
    .runnerCap__container .desc__header,
    .onSaleMen__container .desc__header,
    .onSaleWomen__container .desc__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .desc__header .desc__header__left {
        display: flex;
        justify-content: flex-start;
        margin: 0px;
    }
    .desc__header .desc__header__left h2{
        font-size: 23px;
    }
    .desc__header .desc__header__right {
        display: flex;
        justify-content: flex-end;
        margin: 0px;
    }
    .desc__header__right .filter {
        display: none;
    }
    .head__wear__container .head__wear__items__container {
        grid-gap: 10px;
    }
}





